@page "/"
@using MySite.Components.Parser
@using MySite.Models
<!Doctype html>
<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/HomeBoard.css" />
<script src = "/lib/bootstrap/dist/js/AnimProgressbar.js" defer></script>
<header>
    <div class="user_container">
        <div class="profile_card">
            <div class="block_user_information">
                <h1 class="username">@MyIformation.Name<br/></h1>
                <img src="@MyIformation.Image" alt="@MyIformation.Name" style="width:150px; border-radius:50%;" class="img"/>
                <a class="date">@MyIformation.Created</a>
                <h2 class="fullname">@MyIformation.FullName</h2>
            </div>
            <div class="block_additional">
                <a>@MyIformation.Location</a>
                <a>@MyIformation.Bio</a>
                <a>@MyIformation.Public</a>
                <a>@MyIformation.Company</a>
            </div>
        </div>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar" data-value="@RepozServise.GetLaterRepose(DateTime.Now)"></div>
    </div>
</header>

<body>
</body>
<footer></footer>
@code{

    private UserInfo MyIformation;
    protected override async Task OnInitializedAsync()
    {
        List<(string, string, string, string, string, string, int, string)> Informations = await Git_parse.ParseInfoUser();
        if (Informations.Count > 0)
        {
            foreach (var (image, name, fullname, 
                         location, created,
                         bio, Public_repos,
                         company) in Informations)
            {
                MyIformation = new UserInfo
                {
                    Image = image,
                    Name = name,
                    FullName = fullname,
                    Location = location,
                    Created = created,
                    Bio = bio,
                    Public = Public_repos,
                    Company = company,
                };
            }
            
        }
        else
        {
            MyIformation = new UserInfo();
        }
        
        
    }

}